*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.navbar{
    background-color: #6a0dad;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
    height: 80px;
    position: sticky;
    width: 100%;
    max-width: 1300px;
    top: 0;
    z-index: 1000;
    border-radius: 20px;
    margin: 16px auto;
    text-shadow: black;
    padding: 16px 32px;
}
.navbar .logo h1{
    margin: 15px;
    font-size: 29px;
}
.navbar nav ul{
    list-style: none;
    display: flex;
    gap: 16px;
    margin: 15px;
}
.navbar nav ul li{
    display: inline;
}
.navbar nav ul li a{
    text-decoration: none;
    border-radius: 10px;
    color: white;
    font-weight: 500;
    padding: 8px 16px;
}
.navbar nav ul li a.btn {
    background-color: #4a0072;
    border-radius: 5px;
}
.navbar nav ul li a:hover {
    background-color: #52009b;
}
.body{
    margin-top: 70px;
    display: flex;
    text-align: center;
    align-items: center;
    flex-direction: column;
}
.body div{
    margin: 70px;
}
.body p{
    font-size: 18px;
    margin-top: 35px;
    margin-bottom: 50px;
}
.body-text h1{
    text-align: center;
    font-size: 50px;
}
.video{

    max-width: 900px;
    max-height: 720px;
}
.video video{
    width: 400px; 
    height: 300px;
    object-fit: contain;
}
.btn1{
    border: none;
    padding: 10px 20px;
    background-color: purple;
    color: white;
    font-size: 20px;
    text-decoration: none;
    border-radius: 25px;
}
.btn1:hover {
    background-color: #8a2be2;
}
.comments-container{
max-width: 1200px;
  margin: 0 auto;
  background: #fff;
  border-radius: 12px;
  padding: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
.comments{
    text-align: center;
    padding: 20px;
}
.stars{
    font-size: 24px;
    color: gold;
    margin-bottom: 10px;
}
.comments p{
    font-size: 16px;
    line-height: 1.6
}
.comments p strong{
    color: #8a2be2;
}
.profiles{
    display: flex;
    justify-content: space-around;
    padding: 20px 0;
    border-top: 1px solid #ddd;
    margin-top: 20px;
}
.profile{
    text-align: center;
}
.profile h4{
    margin: 10px 0 5px;
    font-size: 19px; 
}
.profile p{
    font-size: 0.9;
    color: #666;
}