*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.navbar{
    background-color: #6a0dad;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
    height: 70px;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 1000;
}
.navbar .logo h1{
    margin: 15px;
    font-size: 29px;
}
.navbar nav ul{
    list-style: none;
    display: flex;
    gap: 16px;
    margin: 15px;
}
.navbar nav ul li{
    display: inline;
}
.navbar nav ul li a{
    text-decoration: none;
    color: white;
    font-weight: 500;
    padding: 8px 16px;
}
.navbar nav ul li a.btn {
    background-color: #4a0072;
    border-radius: 5px;
}
.navbar nav ul li a:hover {
    background-color: #52009b;
}
.body{
    margin-top: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
}